{% extends 'base.html' %}
{% block header %}

{% endblock %}

{% block body %}
    <section class="register glass">
        <form action="#" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input class="r-input" type="text" name="m_name" placeholder="نام "
                   value="{{ medicine.m_name }}"><br>
            <input class="r-input" type="text" name="mc_name" placeholder="کمپنی"
                   value="{{ medicine.mc_name }}"><br>
            <input class="r-input" type="number" name="sell_p" placeholder="قیمت فروش" value="{{ medicine.sell_p }}"><br>
            <input class="r-input" type="number" name="c_p" placeholder="قیمت کامپنی" value="{{ medicine.c_p }}"><br>
            <textarea class="t_r" name="d_m" >{{ medicine.d_m }}</textarea>
            <input class="r-input" type="number" name="q" placeholder="تعداد" value="{{ medicine.quantity }}"><br>
             <label class="font-big">عکس:</label><input class="file" type="file" name="file"><br>
            <input class="btm glass" type="submit">
        </form>
    </section>
{% endblock %}
